{% load static %}

<section class="bg-contrast-high main-footer position-relative z-index-1 padding-top-3xs padding-y-md" data-theme="default" >
  <div class="container" >
    <a class="main-footer__logo" href="https://github.com/florent-clenet" >
        <img width="40%" height="40%" src="{% static "img/github-mark-white.svg" %}" >
    </a>
    <a class="main-footer__logo" href="https://linkedin.com/in/florent-clenet-b940a7a9" >
      <img width="25%" height="25%" src="{% static "img/In-White-72@2x.png" %}" >
    </a>
  </div>
</section>