{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style_addon.css" %}">
    <link rel="stylesheet" href="{% static "css/_1_main-footer.css" %}">
    <link rel="stylesheet" href="{% static "css/_1_chameleonic-header.css" %}">
    <link rel="stylesheet" href="{% static "css/_1_previous-next-links.css" %}">
    <link rel="stylesheet" href="{% static "css/_1_diagonal-section.css" %}">
    <title>CLENET Florent Resume</title>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.png" %}">
  </head>
  <body >
    <!-- Header -->
    {% include 'homepage/header.html' %}
    <main" >
      <section class="bg position-relative padding-top-2xl padding-y-xl js-cha-section" id="homepage">
          <!--ABOUT-->
        <div class="container max-width-adaptive-lg">
          <div class="text-component text-component--relaxed">
            <p class="text-2xl font-semibold color-contrast-high">Bienvenue sur mon site!</p>
            <p class="text-md font-semibold">Je m'appelle Florent CLENET, développeur en Python & systèmes embarqués</p>
            <p class="text-md font-semibold">Fort de mes années d'expériences dans l'industrie, j'espère pouvoir mettre mes compétences à votre service, n'hésitez pas à me contacter!</p>
            <a href="{% static 'pdf/Resume.pdf' %}" target="_blank" class="btn btn--accent gap-3xs">
              <svg class="icon icon--xs" viewBox="0 0 16 16" aria-hidden="true">
                  <g fill="currentColor">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v10"></path>
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7l4 4 4-4"></path>
                  <path fill="none" opacity=".4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15H1"></path>
                  </g>
              </svg>
              <span>Mon CV (pdf)</span>
            </a>
          </div>
        </div>
          <!-- {% include 'homepage/back_left.html' %} -->
      </section>
      
      <section class="bg position-relative padding-y-xl js-cha-section" data-theme="dark" id="skills">
        <!-- SKILLS -->
        <section class="position-relative z-index-1 padding-y-xs">
          <div class="container max-width-adaptive-lg">
            <div class="text-component padding-y-lg text-component--relaxed">
              <p class="text-3xl font-semibold">Mon expertise</p>
            </div>
            <ul class="grid gap-lg">
              <li class="col-6@md">
                <div class="flex gap-sm items-center">
                  <figure class="flex-shrink-0 inline-flex flex-center width-lg height-lg radius-50% inner-glow shadow-ring bg-light">
                    <svg class="icon" viewBox="0 0 12 12" aria-hidden="true"><polyline points="1.5 6 4.5 9 10.5 3" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </figure>
            
                  <h4>LANGAGES</h4>
                </div>
        

                <div class=" gap-sm">
                  <div class="width-lg" aria-hidden="true"></div>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Maitrise de Python et de ses bibliothèques standards.</p>
                  <p class="padding-x-lg color-contrast-high font-semibold  line-height-lg">• Maitrise du C et de la compilation pour cibles embarquées ou la génération
                    de bibliothèques </p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Maitrise du Bash et des script Linux</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Connaissance basique en C++ et C#</p>
                </div>
              </li>
        
              
              
              
              
              
              

              <li class="col-6@md">
                <div class="flex gap-sm items-center">
                  <figure class="flex-shrink-0 inline-flex flex-center width-lg height-lg radius-50% inner-glow shadow-ring bg-light">
                    <svg class="icon" viewBox="0 0 12 12" aria-hidden="true"><polyline points="1.5 6 4.5 9 10.5 3" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </figure>
            
                  <h4>DEPENDANCES, TEST ET INTEGRATION :</h4>
                </div>
        
                <div class=" gap-sm">
                  <div class=" width-lg" aria-hidden="true"></div>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Maitrise de la gestion de paquets sous pip</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Gestion des environnements virtuels avec venv et virtualenv</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Ecriture des tests unitaires et de non-régression avec cutest et pytest</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Versionning sous git ou SVN</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Maitrise des outils d’intégration continue sous Github et Gitlab</p>
                </div>
              </li>
        
              <li class="col-6@md">
                <div class="flex gap-sm items-center">
                  <figure class="flex-shrink-0 inline-flex flex-center width-lg height-lg radius-50% inner-glow shadow-ring bg-light">
                    <svg class="icon" viewBox="0 0 12 12" aria-hidden="true"><polyline points="1.5 6 4.5 9 10.5 3" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </figure>
            
                  <h4>FRAMEWORK ET BIBLIOTHEQUE :</h4>
                </div>
        
                <div class="gap-sm">
                  <div class="width-lg" aria-hidden="true"></div>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• maitrise du fralmework web Django</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Connaissances en intégration de base de données SQL, PostgreSQL et
                    SQLight</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Maitrise du framework Beeware pour le portage d’application</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Compétences en chiffrement avec openSSL</p>
                </div>
              </li>

              <li class="col-6@md">
                <div class="flex gap-sm items-center">
                  <figure class="flex-shrink-0 inline-flex flex-center width-lg height-lg radius-50% inner-glow shadow-ring bg-light">
                    <svg class="icon" viewBox="0 0 12 12" aria-hidden="true"><polyline points="1.5 6 4.5 9 10.5 3" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </figure>
                  <h4>GESTION DE PROJET :</h4>
                </div>
        
                <div class=" gap-sm">
                  <div class="width-lg" aria-hidden="true"></div>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Cycle en V ou AGIL</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Anglais technique pour la redaction des documents, des présentations et des
                    cahiers des charges</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Capacité à mettre en place des POC et des prototypes</p>
                </div>
              </li>


              <li class="col-6@md">
                <div class="flex gap-sm items-center">
                  <figure class="flex-shrink-0 inline-flex flex-center width-lg height-lg radius-50% inner-glow shadow-ring bg-light">
                    <svg class="icon" viewBox="0 0 12 12" aria-hidden="true"><polyline points="1.5 6 4.5 9 10.5 3" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  </figure>
                  <h4>SOFT SKILLS :</h4>
                </div>
        
                <div class=" gap-sm">
                  <div class="width-lg" aria-hidden="true"></div>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Capacité de travailler en équipe ou en toute autonomie</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Forte compétence en résolution des problèmes techniques et d’intégrations</p>
                  <p class="padding-x-lg color-contrast-high font-semibold line-height-lg">• Forte capacité d’apprentissage</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
        {% include 'homepage/back_right.html' %}
      </section>
      
      <!-- exp -->
      <section class="bg position-relative padding-y-xl js-cha-section"  id="exp">
        <section class="position-relative z-index-1 padding-y-xs">
          <div class="container max-width-adaptive-lg">
            <div class="text-component padding-y-lg text-component--relaxed">
              <p class="text-3xl font-semibold">Mes expériences</p>
            </div>
          {% include 'homepage/timeline.html' %}
          </div>
        </section>
        {% include 'homepage/back_left.html' %}
      </section>
    
        
      <section class="position-relative padding-y-xl bg js-cha-section" data-theme="dark" id="contact">
        <!-- Contact Form -->
        {% include 'homepage/contact.html' %}
      </section>
    </main>
    <!-- Site footer -->  
    {% include 'homepage/footer.html' %}
  </body>
  <script src="{% static "js/_1_chameleonic-header.js" %}"></script>

</html>