{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="{% static "css/timeline.css" %}">
</head>

  
<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Freelance</span>
				<span class="time-wrapper"><span class="time">2024 - présent</span></span>
			</div>
			<div class="font-semibold">- Développement du portfolio</div>
            <div class="font-semibold">- Formation et essai du framework Beeware permettant de porter n'importe quel software python sur du Windows/Linux/Android/IOS</div>
		</div>
	</li>
  
	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Rénovation</span>
				<span class="time-wrapper"><span class="time">2022 - present</span></span>
			</div>
			<div class="font-semibold">- Rénovation d'une maison du 19ème siècle.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Tiempo Secure</span>
				<span class="time-wrapper"><span class="time">2020 - 2022</span></span>
			</div>
			<div class="font-semibold">- Développement des softwares python permettant l'activation du TESIC en production. <a href="https://www.tiempo-secure.com/tesic-secure-enclave/" target="_blank" class="link">En savoir plus</a></div>
            <div class="font-semibold">- Développement des clients/serveurs python utiles aux échanges de données entre une flotte d'IOT et une IA de control. <a href="https://www.leti-cea.fr/cea-tech/leti/Pages/actualites/News/Avec-le-Grand-Defi-Cyber-Tiempo-Secure-et-le-CEA-rendent-Internet-des-Objets-plus-robuste.aspx" target="_blank" class="link">En savoir plus</a></div>
		</div>
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Lennatech</span>
				<span class="font-semibold time-wrapper"><span class="time">2019 - 2020</span></span>
			</div>
			<div class="font-semibold">- Début de mission en tant que prestataire chez Tiempo Secure.</div>
            <div class="font-semibold">- Mission chez Hager, reprise d'un projet de downgrade d'un détecteur de mouvement exterieur pour central d'alarme.</div>
		</div>
	</li>

    <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Kaizen</span>
				<span class="time-wrapper"><span class="time">2018 - 2019</span></span>
			</div>
			<div class="font-semibold">- Mission chez Bio-Logic, participation au développement des produits auxilaires de la nouvelle gamme de cycleur de batteries. <a href="https://www.biologic.net/products/bcs-900-2/" target="_blank" class="link">En savoir plus</a></div>
		</div>  
	</li>

    <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Open</span>
				<span class="time-wrapper"><span class="time">2016 - 2018</span></span>
			</div>
			<div class="font-semibold">- Projet Ibisv2, participation au développement des boitiers permettant la télérelève à des compteurs éléctrique d'ancienne génération.</div>
            <div class="font-semibold">- Développement de prototype de détècteur d'inactivité afin de surveiller l'état physique de travailleurs isolés (exemple: en cas de malaise).</div>
		</div>
	</li>
  
</ul>
